@charset "utf-8";

body{
    font-family: '凸版文久ゴシック';
}

a{
  text-decoration: none;
  color: #fff;
}


.header_back{
  letter-spacing: 10px;
  background: linear-gradient(180deg, #000 0%, #000 50%, #fff 50%, #fff 100%);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  min-height: 100vh;
}

.header_back p{
  color: #fff;
  position: absolute;
  top: 20%;
  left: 15%;
  line-height: 3.5rem;
  font-size: 20px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

header .scroll {
  display: inline-block;
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 10px 10px 110px;
  overflow: hidden;
  color: #000;
  line-height: 1;
  letter-spacing: .2em;
  text-decoration: none;
}

header #drawer-nav nav ul li{
  font-size: 3.0rem;
  line-height: 5.0rem;
}
header #drawer-nav nav ul li a:hover{
  color: #be5dff;
}

header .scroll::after {
  animation: sdl 2s cubic-bezier(1, 0, 0, 1) infinite;
  content: '';
  position: absolute;
  top: 30%;
  left: 50%;
  width: 1px;
  height: 70px;
  background: #000;
}
@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

article{
  background-color: #000;
}

.Intoro_flex{
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding: 120px 0 80px 0;
}

.Intoro_flex .Intoro_img{
  width: 30%;
  margin: 0 0 0 150px;
}

.Intoro_flex .Intoro_img img{
  width: 70%;
  border-radius: 5%;
}

.Introduction{
  color: #fff;
  padding: 20px 0 15px 0;
}

.Introduction p{
  margin: 0 auto 20px;
  line-height: 3.0rem;
  font-size: 20px;
}

.flex{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10%;
}

.flex .flex_box{
  width: 480px;
  height: 480px;
  overflow:		hidden;
  margin: 3% 2% 0 1%;
  background-color: #fff;
  position: relative;
  /* border-radius: 5%; */
}



.flex .flex_box img{
  width: 480px;
  height: 480px;
  object-fit: cover;
}

.flex_box .caption {
	font-size:		130%;
	color:			#fff;
	padding-top:		80px;
  padding-left:		20px;
  display: block;
}
.flex_box .mask {
	width:			50%;	/* 画像の半分の大きさにする */
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	margin-left:		-50%;	/* 枠の左に置いて表示させない */
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.4s ease;
  transition:		all 0.4s ease;
  text-align: center;
  line-height: 2.0rem;
  opacity: 0;
}
.flex_box:hover .mask {
  margin-left:		0px;	/* 右にずらして表示する */
  text-align: center;
  line-height: 2.0rem;
  opacity: 1;
}
.flex_box img {
	-webkit-transition:	all 0.4s ease;
	transition: all 0.4s ease;
}
.flex_box:hover img {
	margin-left: 50%;	/* 画像を半分サイズ、右にずらす */
}




footer{
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 20px;
  font-size: 0.8rem;
}



/* ページトップへ戻る */
.pagetop {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 30px;
}
.pagetop a {
  display: block;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  border-radius: 40px;
}

.pagetop i{
  font-size: 40px;
  color: #fff;
}


/* ハンバーガーメニュー */
#nav-toggle {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 32px;
  cursor: pointer;

  padding: 10px 8px 9px 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#nav-toggle > div {
  position: relative;
  width: 36px;
}
#nav-toggle span {
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  background: #fff; /* ドロアの三本線 */
  position: absolute;
  -webkit-transition: top .5s ease, -webkit-transform .6s ease-in-out;
  transition: top .5s ease, -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out, top .5s ease;
  transition: transform .6s ease-in-out, top .5s ease, -webkit-transform .6s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 14px;
}
#nav-toggle span:nth-child(3) {
  top: 28px;
}
#nav-toggle:hover span:nth-child(1) {
  top: 4px;
}
#nav-toggle:hover span:nth-child(3) {
  top: 23px;
}

.open #nav-toggle span {
  background: #fff;
}
.open #nav-toggle span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.open #nav-toggle span:nth-child(2) {
  top: 15px;
  width: 0;
  left: 50%;
}
.open #nav-toggle span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* z-index */
#nav-toggle {
  z-index: 1000;
}

#container {
  z-index: 900;
}

#drawer-nav {
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: -webkit-box;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 29px;
  opacity: 0;
  -webkit-transition: opacity .6s ease, visibility .6s ease;
  transition: opacity .6s ease, visibility .6s ease;
}

#drawer-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  -webkit-transition: color .6s ease;
  transition: color .6s ease;
}
#drawer-nav a:hover {
  color: #666;
}
#drawer-nav ul {
  list-style: none;
}
#drawer-nav ul li {
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: opacity .2s ease, -webkit-transform .6s ease;
  transition: opacity .2s ease, -webkit-transform .6s ease;
  transition: transform .6s ease, opacity .2s ease;
  transition: transform .6s ease, opacity .2s ease, -webkit-transform .6s ease;
}
#drawer-nav ul li:nth-child(2) {
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}
#drawer-nav ul li:nth-child(3) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
#drawer-nav ul li:nth-child(4) {
  -webkit-transition-delay: .45s;
          transition-delay: .45s;
}
#drawer-nav ul li:nth-child(5) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
#drawer-nav ul li:nth-child(6) {
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}
#drawer-nav ul li:nth-child(7) {
  -webkit-transition-delay: .9s;
          transition-delay: .9s;
}

/* open */
.open {
  overflow: hidden;
}
.open #drawer-nav {
  visibility: visible;
  opacity: 1;
}
.open #drawer-nav li {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity .9s ease, -webkit-transform 1s ease;
  transition: opacity .9s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity .9s ease;
  transition: transform 1s ease, opacity .9s ease, -webkit-transform 1s ease;
}