@charset "utf-8";

body{
    font-family: '凸版文久ゴシック';
}

a{
  text-decoration: none;
}

.header_back{
  letter-spacing: 10px;
  background: black;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  min-height: 50vh;
}

.header_back p{
  color: #fff;
  position: absolute;
  top: 20%;
  left: 15%;
  line-height: 3.5rem;
  font-size: 20px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
header #drawer-nav nav ul li{
  font-size: 3.0rem;
  line-height: 5.0rem;
}
header #drawer-nav nav ul li a:hover{
  color: #be5dff;
}

.camp_flex{
  display: flex;
  margin: -100px auto 0 auto;
  align-items: flex-end;
  justify-content: center;
}

.camp_img{
  width: 60%;
  margin: -100px auto 0 auto;
  height: auto;
}

.camp_img img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

#flex_phone{
  width: 60%;
  height: auto;
  margin-right: 30px;
}

#flex_phone img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

.camp_phone{
  width: 15%;
  height: auto;
  margin-left: 30px;
}

.camp_phone img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

.Introduction{
  color: #000;
  padding: 8% 0 6% 0;
}

.Introduction p{
  margin: 0 auto;
  width: 60%;
  line-height: 2.5rem;
  font-size: 20px;
  padding: 10px;
}

.Introduction div{
  margin: 0 auto;
  width: 60%;
  padding: 10px;
}

.Introduction div a{
  line-height: 2.5rem;
  font-size: 20px;
  color: rgb(0, 204, 255);
}

.Introduction div a:hover{
  color: #173cb7;
}

.button_flex{
  width: 50%;
  display: flex;
  margin: 0 auto;
}

.out_all{
  margin: 0 auto 50px;
}

.out_site{
  display: inline-block;
  padding: 10px 25px;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.out_site::before{
  content:'';
  position:absolute;
  height:100%;
  width:100%;
  top:5px;
  right:5px;
  z-index:-1;
  transition:transform .2s ease-in-out;
}

#view_color01::before{background-color:#608a4f;}
#view_color02::before{background-color:#a86630;}
#view_color03::before{background-color:#173cb7;}
#view_color04::before{background-color:#fbeaac;}
#view_color05::before{background-color:#ff9999;}
#view_color06::before{background-color:#000;}
#view_colorback::before{background-color:#555;}

.out_site::after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  border:1px solid #474e51;
}

.out_site:hover::before{
  transform:translate(6px,-4px);
}
        


footer{
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 0.8rem;
}



/* ハンバーガーメニュー */
#nav-toggle {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 32px;
  cursor: pointer;

  padding: 10px 8px 9px 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#nav-toggle > div {
  position: relative;
  width: 36px;
}
#nav-toggle span {
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  background: #fff; /* ドロアの三本線 */
  position: absolute;
  -webkit-transition: top .5s ease, -webkit-transform .6s ease-in-out;
  transition: top .5s ease, -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out, top .5s ease;
  transition: transform .6s ease-in-out, top .5s ease, -webkit-transform .6s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 14px;
}
#nav-toggle span:nth-child(3) {
  top: 28px;
}
#nav-toggle:hover span:nth-child(1) {
  top: 4px;
}
#nav-toggle:hover span:nth-child(3) {
  top: 23px;
}

.open #nav-toggle span {
  background: #fff;
}
.open #nav-toggle span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.open #nav-toggle span:nth-child(2) {
  top: 15px;
  width: 0;
  left: 50%;
}
.open #nav-toggle span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* z-index */
#nav-toggle {
  z-index: 1000;
}

#container {
  z-index: 900;
}

#drawer-nav {
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: -webkit-box;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 29px;
  opacity: 0;
  -webkit-transition: opacity .6s ease, visibility .6s ease;
  transition: opacity .6s ease, visibility .6s ease;
}

#drawer-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  -webkit-transition: color .6s ease;
  transition: color .6s ease;
}
#drawer-nav a:hover {
  color: #666;
}
#drawer-nav ul {
  list-style: none;
}
#drawer-nav ul li {
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: opacity .2s ease, -webkit-transform .6s ease;
  transition: opacity .2s ease, -webkit-transform .6s ease;
  transition: transform .6s ease, opacity .2s ease;
  transition: transform .6s ease, opacity .2s ease, -webkit-transform .6s ease;
}
#drawer-nav ul li:nth-child(2) {
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}
#drawer-nav ul li:nth-child(3) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
#drawer-nav ul li:nth-child(4) {
  -webkit-transition-delay: .45s;
          transition-delay: .45s;
}
#drawer-nav ul li:nth-child(5) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
#drawer-nav ul li:nth-child(6) {
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}
#drawer-nav ul li:nth-child(7) {
  -webkit-transition-delay: .9s;
          transition-delay: .9s;
}

/* open */
.open {
  overflow: hidden;
}
.open #drawer-nav {
  visibility: visible;
  opacity: 1;
}
.open #drawer-nav li {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity .9s ease, -webkit-transform 1s ease;
  transition: opacity .9s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity .9s ease;
  transition: transform 1s ease, opacity .9s ease, -webkit-transform 1s ease;
}